/Debug
*.prefs
/Firm/.settings
/Firm/Debug
/Firm/Debug/*
/Firm/Debug/*.mk
/Firm/Debug/*.elf
/Firm/Debug/*.map
/Firm/Debug/*.lss
/Firm/Debug/*.hex
/Firm/Debug/Src
/Firm/Debug/Src/*
/Firm/Debug/Src/*.mk
/Firm/Debug/Src/*.d
/Firm/Debug/Src/*.o
*.bak
*.ps
*.*bak

